<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chỉnh sửa sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h1>Chỉnh sửa sản phẩm</h1>
        <div class="form mb-4">
            <form action="/products/<%= product.id %>" method="POST" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Tên sản phẩm</label>
                    <input class="form-control" type="text" name="name" value="<%= product.name %>" required />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Hình ảnh hiện tại</label><br>

                    <% if (product && product.image) { %>
                        <img src="<%= product.image %>" width="120" style="object-fit:cover">
                        <% } else { %>
                            <p>Chưa có ảnh</p>
                            <% } %>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Chọn ảnh mới</label>
                    <input class="form-control" type="file" name="image" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="price">Giá</label>
                    <input class="form-control" type="number" name="price" step="0.01" min="0.01" value="<%= product.price %>"
                        required />
                    <small class="form-text text-muted">Giá phải lớn hơn 0</small>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="quantity">Số lượng</label>
                    <input class="form-control" type="number" name="quantity" min="0" value="<%= product.quantity %>"
                        required />
                    <small class="form-text text-muted">Số lượng phải >= 0</small>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</body>

</html>